[submodule "seqrequester"]
	path = seqrequester
	url = https://github.com/marbl/seqrequester
[submodule "genomeark-metadata"]
	path = genomeark-metadata
	url = https://github.com/genomeark/genomeark-metadata
[submodule "genomeark.github.io"]
	path = genomeark.github.io
	url = https://github.com/genomeark/genomeark.github.io
[submodule "genomeark-analyses"]
	path = genomeark-analyses
	url = https://github.com/genomeark/genomeark-analyses
